.detail {
  display: flex;
  align-items: start;
  gap: 10px;
  i {
    color: #1a47e6;
    font-size: 42px;
  }
  i.round {
    outline: 2px solid #1a47e6;
    border-radius: 50vw;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .right {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .det-title {
      font-size: 17px;
    }
    .det-text {
      font-size: 13px;
    }
  }
}
