<div class="container-fluid p-0">
    <div class="container-fluid hero-sec">
        <div class="container hero-sec">
            <div class="hero-content">
                <h1 class="hero-title display-1">
                    LAUNCH YOUR TECH <br />
                    CAREER WITH US
                </h1>
                <p class="hero-text">
                    We connecting IT professionals with leading companies.
                </p>
            </div>
            <div class="hero-img d-none d-sm-block">
                <img src="../../../assets/images/Placements/Hero_arrow_bg.png" alt="" />
            </div>
        </div>
    </div>

    <div class="container py-5">
        <h2 class="section-title mb-4 text-center">How to Launch Tech Career</h2>
        <p class="mb-5 text">
            In today’s digital age, a career in technology offers endless
            possibilities, opportunities to develop your career, as well as great pay
            to match (most of the time!). With so many tech niches and programming
            languages to choose from, how do you navigate this exciting landscape and
            set yourself up for success?
        </p>
        <p class="mb-5 text">
            We’ll explore five top tips for anyone looking to break into the world of
            technology, covering everything from discovering your passion, to
            mastering the fundamentals of your chosen programming language. So, if
            you’re interested in a technology career and want to learn how to stand
            out from the crowd, read on for valuable insights and advice.
        </p>
        <div class="career-div">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-12 col-sm-6">
                        <div class="card border-0">
                            <div class="card-body d-flex flex-column align-items-center gap-2">
                                <img src="../../../assets/images/Placements/Discover tech passion.svg" alt="" />
                                <span>
                                    <b>Discover tech passion</b>
                                </span>
                                <small class="text-muted text-center">
                                    Discover what career track and relevant training opportunity
                                    is right for you and apply.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-12 col-sm-6">
                        <div class="card border-0">
                            <!-- <img src="" alt="" /> -->
                            <div class="card-body d-flex flex-column align-items-center gap-2">
                                <img src="../../../assets/images/Placements/Learn & Prepare.svg" alt="" />
                                <span>
                                    <b>Learn & Prepare</b>
                                </span>
                                <small class="text-muted text-center">
                                    Learn and prepare for a career in tech through our free
                                    technical skills training and career support program.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-12 col-sm-6">
                        <div class="card border-0">
                            <!-- <img src="" alt="" /> -->
                            <div class="card-body d-flex flex-column align-items-center gap-2">
                                <img src="../../../assets/images/Placements/Build a Portfolio.svg" alt="" />
                                <span>
                                    <b>Build a Portfolio</b>
                                </span>
                                <small class="text-muted text-center">
                                    Create projects to showcase your skills and add them to your
                                    portfolio.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-12 col-sm-6">
                        <div class="card border-0">
                            <!-- <img src="" alt="" /> -->
                            <div class="card-body d-flex flex-column align-items-center gap-2">
                                <img src="../../../assets/images/Placements/Launch Your Career.svg" alt="" />
                                <span>
                                    <b>Launch Your Career</b>
                                </span>
                                <small class="text-muted text-center">
                                    Launch your career in tech through our job placement services.
                                    75% of graduates enter the tech industry!
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-gray">
        <div class="container py-5">
            <h2 class="section-title text-center mb-4">Upcoming Placement Drives</h2>
            <div class="table-responsive">
                <table class="table align-middle">
                    <thead>
                        <tr>
                            <th>Company Name</th>
                            <th>Job Role</th>
                            <th>Date</th>
                            <th>Location</th>
                            <th>Qualification</th>
                            <th>Package</th>
                            <th>Apply Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Accenture</td>
                            <td>Software Engineer</td>
                            <td>May 28, 2025</td>
                            <td>Hyderabad-Remote</td>
                            <td>B.Tech/MCA</td>
                            <td>₹18-20L</td>
                            <td><a class="btn btn-register">Apply</a></td>
                        </tr>
                        <tr class="bg-gray">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Microsoft</td>
                            <td>Frontend Developer</td>
                            <td>June 2, 2025</td>
                            <td>Bangalore-Hybrid</td>
                            <td>B.Tech/BCA</td>
                            <td>₹18-20L</td>
                            <td><a class="btn btn-register">Apply</a></td>
                        </tr>
                        <tr class="bg-gray">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>TCS</td>
                            <td>Data Analyst</td>
                            <td>June 10, 2025</td>
                            <td>Pune-Onsite</td>
                            <td>B.Tech/M.Sc</td>
                            <td>₹18-20L</td>
                            <td><a class="btn btn-register">Apply</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-warning">
        <div class="container pt-5">
            <div class="row">
                <div class="col-lg-7 py-5">
                    <h2 style="margin-left: 90px;" class="section-title mb-3">
                        Get Ready for Take Off
                    </h2>
                    <p class="mb-4 text" style="width: fit-content">
                        Give yourself an upgrade with our inspiring courses and join <br> a global community of learners
                        <br /><br>
                        With 100% Placement Support and Get placed in top tech <br> companies with competitive packages.
                        <span class="mt-5 d-flex justify-content-end">
                            <a class="btn btn-register">Find your Programe</a>
                        </span>
                    </p>
                </div>
                <div class="col-lg-5 d-flex align-items-end">
                    <img class="img" src="../../../assets/images/Placements/girl.png" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div class="frequent container py-5">
        <h2 class="section-title">Frequently Asked Questions</h2>
        <div class="accordion" id="courseAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapsesample" aria-expanded="false" aria-controls="collapsesample">
                        <span class="position-relative"><i class="ri-bookmark-line"></i><i
                                class="ri-bookmark-fill"></i></span>
                        What is the eligibility criteria for placements?
                    </button>
                </h2>
                <div id="collapsesample" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#courseAccordion">
                    <div class="accordion-body">
                        <!-- Content for Introduction -->
                        <ul>
                            <li>Overview of Digital Marketing</li>
                            <li>Key Concepts</li>
                            <li>Introduction to Tools</li>
                            <li>Getting Started</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapsesample1" aria-expanded="false" aria-controls="collapsesample1">
                        <span class="position-relative"><i class="ri-bookmark-line"></i><i
                                class="ri-bookmark-fill"></i></span>
                        When does the placement process start?
                    </button>
                </h2>
                <div id="collapsesample1" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#courseAccordion">
                    <div class="accordion-body">
                        <!-- Content for Introduction -->
                        <ul>
                            <li>Overview of Digital Marketing</li>
                            <li>Key Concepts</li>
                            <li>Introduction to Tools</li>
                            <li>Getting Started</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapsesampl2" aria-expanded="false" aria-controls="collapsesampl2">
                        <span class="position-relative"><i class="ri-bookmark-line"></i><i
                                class="ri-bookmark-fill"></i></span>
                        How many companies visit for campus placements?
                    </button>
                </h2>
                <div id="collapsesampl2" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#courseAccordion">
                    <div class="accordion-body">
                        <!-- Content for Introduction -->
                        <ul>
                            <li>Overview of Digital Marketing</li>
                            <li>Key Concepts</li>
                            <li>Introduction to Tools</li>
                            <li>Getting Started</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>