.card {
  width: 100%;
  max-width: 24rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #00f0ff;
  border-radius: 10px;

  @media (max-width: 991px) {
    margin: 20px auto;
  }

  .card-body {
    color: white;
  }

  .card-title {
    color: black;
    text-align: center;
  }
}

/* Custom styling for inputs */
.form-control,
.form-select {
  height: 45px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: none;
}

.form-select {
  border-right: none;
  border-radius: 0px;
}

.form-select+.form-control {
  border-left: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

/* Submit button styling */
.btn-primary {
  background-color: #202e8f;
  color: #fff;
  font-weight: bold;

  height: 58px;
  border: none;
}

.btn-primary:hover {
  background-color: #4502aa;
}

@media (min-width: 320px) and (max-width: 480px) {
  .row {
    display: flex;
    flex-direction: row;
  }

  .column {
    width: 50px;
    font-size: 12px;
  }

  .column1 {
    width: 263px;
    font-size: 12px;
    margin-left: 70px;
    margin-top: -45px;
  }
}