<div class="card p-2">
  <div class="card-body">
    <h3 class="card-title mb-2 fw-bold">I'm Interested</h3>
    <p class="text-center text-dark">Learn from the Real-Time Experts</p>

    <!-- Form Starts Here -->
    <form (ngSubmit)="enrollForm.form.valid && onSubmit()" #enrollForm="ngForm" novalidate>
      <!-- Full Name Input -->
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Full Name *" name="fullName"
          [(ngModel)]="contactData.fullName" required />
      </div>

      <!-- Email Input -->
      <div class="mb-3">
        <input type="email" class="form-control" placeholder="Email *" name="email" [(ngModel)]="contactData.email"
          required email />

      </div>

      <!-- Mobile Number Input -->
      <div class="mb-3">
        <div class="row">
          <div class="col-md-3">
            <input value="+91" class="form-control bg-white column" disabled>
          </div>
          <div class="col-md-9">
            <input type="tel" class="form-control column1" placeholder="Mobile Number *" name="mobileNumber"
              [(ngModel)]="contactData.mobileNumber" required />
          </div>
        </div>
      </div>

      <!-- City Input -->
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="City" name="city" [(ngModel)]="contactData.city"
          required />
      </div>

      <!-- Batches Input -->
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Batches" name="batches" required />
      </div>



      <div *ngIf="submitSuccess" class="alert alert-success py-1 mt-2 mb-2" style="font-size: 0.8rem">
        Thank you for Submiting your request,we will contact you shortly.
      </div>
      <div *ngIf="submitError" class="alert alert-danger py-1 mt-2 mb-2" style="font-size: 0.8rem">
        Error. Please try again.
      </div>

      <!-- Submit Button -->
      <div class="d-grid">
        <button type="submit" class="btn btn-primary" [disabled]="!enrollForm.form.valid || isSubmitting">
          {{ isSubmitting ? 'Processing...' : 'Enroll Now' }}
        </button>
      </div>
    </form>

    <!-- Terms and Privacy Notice -->
    <p class="mt-3" style="font-size: 0.8rem">
      By proceeding, you agree to
      <a style="text-decoration: underline">Terms & Conditions</a>
      and
      <a style="text-decoration: underline">Privacy Policy</a>
    </p>
  </div>
</div>