header {
  height: 75px;
}

.track-con {
  animation: navbar linear forwards;
  animation-timeline: view();
  animation-range: 100dvh 180dvh;
  position: sticky;
  top: -10rem;
  z-index: 1000;
  background-color: white;
}
.navbar-brand {
  cursor: pointer;
}
.logo-div {
  img {
    scale: 0.9;
  }
}
nav {
  ul {
    li {
      font-weight: 600;
      cursor: pointer;
      transition: all 0.3s ease;
      font-size: 16px;
      &:hover {
        font-weight: 700;
        color: var(--blue);
      }
      &.active {
        color: var(--blue);
        font-weight: bolder;
      }
    }
  }
}

@keyframes navbar {
  0%,
  100% {
    // box-shadow: 5px 5px 10px #eee;
    padding: 0px 30px;
    backdrop-filter: blur(0.3rem);
    background-color: rgb(255 255 255 / 80%);
  }
  100% {
    top: -1px;
  }
}
