<div class="container-fluid track-con pt-3" [class.is-scrolled]="isScrolled" [class.is-sticky]="isSticky">
  <div class="p-0">
    <header>
      <nav class="navbar navbar-expand-lg p-0">
        <div class="container-fluid">
          <div class="logo-div d-flex align-items-center">
            <img routerLink="/" src="../../../assets/images/landingpage/codelabs logo.svg" class="navbar-brand"
              alt="" />
          </div>
          <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#navlist">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navlist">
            <ul class="navbar-nav d-flex align-items-center gap-md-5 m-auto">
              <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="coursesDropdown" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Courses <i class="fa-solid fa-angle-down ms-1"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="coursesDropdown">
                  <li><a class="dropdown-item" routerLink="/courses" routerLinkActive="active">All Courses</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a routerLink="/certifications" routerLinkActive="active" class="nav-link">Certifications</a>
              </li>
              <li class="nav-item">
                <a routerLink="/placements" routerLinkActive="active" class="nav-link">Placements</a>
              </li>
              <li class="nav-item">
                <a routerLink="/hire-from-us" routerLinkActive="active" class="nav-link">Hire From Us</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="getInTouchDropdown" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Institute <i class="fa-solid fa-angle-down ms-1"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="getInTouchDropdown">
                  <li><a class="dropdown-item" routerLink="/aboutus" routerLinkActive="active">About Us</a></li>
                  <li><a class="dropdown-item" routerLink="/contact-us" routerLinkActive="active">Contact Us</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
  </div>
</div>