<header>
    <nav class="navbar navbar-expand-md ">
        <div class="container-fluid">
            <div class="logo-div d-flex align-items-center">
                <img src="../../../assets/images/logo.png" width="55" class="navbar-brand" alt="">
                <h3>
                    Parthu <br> Infotech
                </h3>
            </div>
            <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="collapse"
                data-bs-target="#navlist">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navlist">
                <ul class="navbar-nav d-flex align-items-center gap-md-5 m-auto">
                    <li class="nav-item">Courses</li>
                    <li class="nav-item">Services</li>
                    <li class="nav-item">Placements</li>
                    <li class="nav-item">Hire From Us</li>
                    <li class="nav-item">Get In Touch</li>
                </ul>
            </div>
        </div>
    </nav>
</header>