.track-con {
  animation: navbar linear forwards;
  animation-timeline: view();
  animation-range: 100dvh 180dvh;
  position: sticky;
  top: -10rem;
  z-index: 1000;
  background-color: white;
}

nav {
  ul {
    li {
      font-weight: 600;
      cursor: pointer;
      transition: all 0.3s ease;
      font-size: 18px;
      &:hover {
        font-weight: 700;
        color: var(--blue);
      }
      &.active {
        color: var(--blue);
        font-weight: bolder;
      }
    }
  }
}

@keyframes navbar {
  0%,
  100% {
    // box-shadow: 5px 5px 10px #eee;
    padding: 0px 30px;
    backdrop-filter: blur(0.3rem);
    background-color: rgb(255 255 255 / 80%);
  }
  100% {
    top: -1px;
  }
}

// header {
//   background-color: transparent;
//   position: absolute;
//   width: 100%;
//   z-index: 1000;
//   transition: all 0.3s ease; /* Ensure smooth transition */
// }

// header.sticky {
//   animation: navbar linear forwards; /* Apply the animation only when sticky */
// }

// * {
//   color: black;
// }

// nav {
//   ul {
//     li {
//       font-weight: 500;
//       cursor: pointer;
//       transition: all 0.3s ease;
//     }
//     li:hover {
//       font-weight: 600;
//     }
//   }
// }

// @keyframes navbar {
//   0%,
//   100% {
//     transition: all 1s ease !important;
//     box-shadow: 5px 5px 10px #eee;
//     padding: 0px 30px;
//     backdrop-filter: blur(0.3rem);
//     background-color: rgba(255, 255, 255, 0.8);
//     position: sticky;
//     top: 0px;
//   }
// }
