<div class="container-fluid p-0">
    <div class="container-fluid hero-sec">
        <div class="container">
            <h1 class="hero-title display-1">
                Let,s Learn <br> beyond the <br> Limits
            </h1>
            <p class="hero-text display-6">
                Discover Your Passion
            </p>
        </div>
    </div>
    <div class="container-fluid courses bg-gray pt-4 px-5">
        <div class="course-head mb-3">
            <span class="section-title">Popular Courses</span>
        </div>
        <div class="course-tabs">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-3 col-xxl-2 ps-0">
                        <div class="left py-3">
                            <h5 class="m-0 px-3 mb-3">
                                Categories
                            </h5>
                            <ul class="nav nav-pills d-flex flex-column justify-content-end gap-3 mb-4 " id="pills-tab">
                                <li class="nav-item" role="presentation">
                                    <button class="w-100 nav-link active" id="pills-UX/UI-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-UX/UI" type="button" role="tab"
                                        aria-controls="pills-UX/UI" aria-selected="true">UX/UI <i
                                            class="ri-arrow-right-s-line fs-5"></i></button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="w-100 nav-link" id="pills-web-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-web" type="button" role="tab" aria-controls="pills-web"
                                        aria-selected="false">web Devlopment <i
                                            class="ri-arrow-right-s-line fs-5"></i></button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="w-100 nav-link" id="pills-Business-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-Business" type="button" role="tab"
                                        aria-controls="pills-Business" aria-selected="false">Business Analysis <i
                                            class="ri-arrow-right-s-line fs-5"></i></button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="w-100 nav-link" id="pills-Artificial-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-Artificial" type="button" role="tab"
                                        aria-controls="pills-Artificial" aria-selected="false">Artificial
                                        Intelligence <i class="ri-arrow-right-s-line fs-5"></i></button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="w-100 nav-link" id="pills-Data-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-Data" type="button" role="tab" aria-controls="pills-Data"
                                        aria-selected="false">Data Science <i
                                            class="ri-arrow-right-s-line fs-5"></i></button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-9 col-xxl-10 p-0">
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-UX/UI" role="tabpanel"
                                aria-labelledby="pills-UX/UI-tab" tabindex="0">
                                <div class="cards container-fluid p-0">
                                    <div class="row">
                                        <div class="col-lg-4 mb-4 ">
                                            <div class="card">
                                                <img alt="home images"
                                                    src="../../../assets/images/landingpage/Course/Python Fullstack.png"
                                                    class="card-img-top" alt="home images">
                                                <div class="card-body py-3">
                                                    <div class="card-head mb-2">
                                                        <h3 class="card-title">Python Fullstack</h3>
                                                        <p class="card-text">
                                                            <span class="fw-bold">Skills you'll
                                                                gain:</span> Computer Programming,
                                                            Python
                                                            Programming,
                                                            Statistical Programming...
                                                        </p>
                                                    </div>
                                                    <div>
                                                        <p class="detail d-flex align-items-center gap-2 mb-2">
                                                            <i class="ri-presentation-fill"></i>
                                                            Mode of Training :<span> Classroom </span>
                                                        </p>
                                                        <p class="detail d-flex align-items-center gap-2 mb-2">
                                                            <i class="ri-calendar-2-fill"></i> Duration :<span> 04 Month
                                                            </span>
                                                        </p>
                                                        <p class="detail d-flex align-items-center gap-2 mb-2">
                                                            <i class="ri-time-line"></i>
                                                            Start From :<span> 25 Apr,2023 </span>
                                                        </p>
                                                    </div>
                                                    <button class="btn enroll-btn">KNOW MORE <i
                                                            class="ri-arrow-right-wide-line"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 mb-4 ">
                                            <div class="card">
                                                <img alt="home images"
                                                    src="../../../assets/images/landingpage/Course/UI Technologies.png"
                                                    class="card-img-top" alt="home images">
                                                <div class="card-body py-3">
                                                    <div class="card-head mb-2">
                                                        <h3 class="card-title">UI Technologies</h3>
                                                        <p class="card-text">
                                                            <span class="fw-bold">Skills you'll
                                                                gain:</span> Computer Programming,
                                                            Python
                                                            Programming,
                                                            Statistical Programming...
                                                        </p>
                                                    </div>
                                                    <div>
                                                        <p class="detail d-flex align-items-center gap-2 mb-2">
                                                            <i class="ri-presentation-fill"></i>
                                                            Mode of Training :<span> Classroom </span>
                                                        </p>
                                                        <p class="detail d-flex align-items-center gap-2 mb-2">
                                                            <i class="ri-calendar-2-fill"></i> Duration :<span> 04 Month
                                                            </span>
                                                        </p>
                                                        <p class="detail d-flex align-items-center gap-2 mb-2">
                                                            <i class="ri-time-line"></i>
                                                            Start From :<span> 25 Apr,2023 </span>
                                                        </p>
                                                    </div>
                                                    <button class="btn enroll-btn">KNOW MORE <i
                                                            class="ri-arrow-right-wide-line"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 mb-4 ">
                                            <div class="card">
                                                <img alt="home images"
                                                    src="../../../assets/images/landingpage/Course/Selenium.png"
                                                    class="card-img-top" alt="home images">
                                                <div class="card-body py-3">
                                                    <div class="card-head mb-2">
                                                        <h3 class="card-title">Selenium</h3>
                                                        <p class="card-text">
                                                            <span class="fw-bold">Skills you'll
                                                                gain:</span> Computer Programming,
                                                            Python
                                                            Programming,
                                                            Statistical Programming...
                                                        </p>
                                                    </div>
                                                    <div>
                                                        <p class="detail d-flex align-items-center gap-2 mb-2">
                                                            <i class="ri-presentation-fill"></i>
                                                            Mode of Training :<span> Classroom </span>
                                                        </p>
                                                        <p class="detail d-flex align-items-center gap-2 mb-2">
                                                            <i class="ri-calendar-2-fill"></i> Duration :<span> 04 Month
                                                            </span>
                                                        </p>
                                                        <p class="detail d-flex align-items-center gap-2 mb-2">
                                                            <i class="ri-time-line"></i>
                                                            Start From :<span> 25 Apr,2023 </span>
                                                        </p>
                                                    </div>
                                                    <button class="btn enroll-btn">KNOW MORE <i
                                                            class="ri-arrow-right-wide-line"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 mb-4 ">
                                            <div class="card">
                                                <img alt="home images"
                                                    src="../../../assets/images/landingpage/Course/Android Native.png"
                                                    class="card-img-top" alt="home images">
                                                <div class="card-body py-3">
                                                    <div class="card-head mb-2">
                                                        <h3 class="card-title">Android Native</h3>
                                                        <p class="card-text">Skills you'll gain: Computer Programming,
                                                            Python
                                                            Programming,
                                                            Statistical Programming...</p>
                                                    </div>
                                                    <div>
                                                        <p class="detail d-flex align-items-center gap-2 mb-2">
                                                            <i class="ri-presentation-fill"></i>
                                                            Mode of Training :<span> Classroom </span>
                                                        </p>
                                                        <p class="detail d-flex align-items-center gap-2 mb-2">
                                                            <i class="ri-calendar-2-fill"></i> Duration :<span> 04 Month
                                                            </span>
                                                        </p>
                                                        <p class="detail d-flex align-items-center gap-2 mb-2">
                                                            <i class="ri-time-line"></i>
                                                            Start From :<span> 25 Apr,2023 </span>
                                                        </p>
                                                    </div>
                                                    <button class="btn enroll-btn">KNOW MORE <i
                                                            class="ri-arrow-right-wide-line"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 mb-4 ">
                                            <div class="card">
                                                <img alt="home images"
                                                    src="../../../assets/images/landingpage/Course/Mac Native Swift.png"
                                                    class="card-img-top" alt="home images">
                                                <div class="card-body py-3">
                                                    <div class="card-head mb-2">
                                                        <h3 class="card-title">Mac Native Swift</h3>
                                                        <p class="card-text">Skills you'll gain: Computer Programming,
                                                            Python
                                                            Programming,
                                                            Statistical Programming...</p>
                                                    </div>
                                                    <div>
                                                        <p class="detail d-flex align-items-center gap-2 mb-2">
                                                            <i class="ri-presentation-fill"></i>
                                                            Mode of Training :<span> Classroom </span>
                                                        </p>
                                                        <p class="detail d-flex align-items-center gap-2 mb-2">
                                                            <i class="ri-calendar-2-fill"></i> Duration :<span> 04 Month
                                                            </span>
                                                        </p>
                                                        <p class="detail d-flex align-items-center gap-2 mb-2">
                                                            <i class="ri-time-line"></i>
                                                            Start From :<span> 25 Apr,2023 </span>
                                                        </p>
                                                    </div>
                                                    <button class="btn enroll-btn">KNOW MORE <i
                                                            class="ri-arrow-right-wide-line"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 mb-4 ">
                                            <div class="card">
                                                <img alt="home images"
                                                    src="../../../assets/images/landingpage/Course/Flutter.png"
                                                    class="card-img-top" alt="home images">
                                                <div class="card-body py-3">
                                                    <div class="card-head mb-2">
                                                        <h3 class="card-title">Flutter</h3>
                                                        <p class="card-text">Skills you'll gain: Computer Programming,
                                                            Python
                                                            Programming,
                                                            Statistical Programming...</p>
                                                    </div>
                                                    <div>
                                                        <p class="detail d-flex align-items-center gap-2 mb-2">
                                                            <i class="ri-presentation-fill"></i>
                                                            Mode of Training :<span> Classroom </span>
                                                        </p>
                                                        <p class="detail d-flex align-items-center gap-2 mb-2">
                                                            <i class="ri-calendar-2-fill"></i> Duration :<span> 04 Month
                                                            </span>
                                                        </p>
                                                        <p class="detail d-flex align-items-center gap-2 mb-2">
                                                            <i class="ri-time-line"></i>
                                                            Start From :<span> 25 Apr,2023 </span>
                                                        </p>
                                                    </div>
                                                    <button class="btn enroll-btn">KNOW MORE <i
                                                            class="ri-arrow-right-wide-line"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-web" role="tabpanel" aria-labelledby="pills-web-tab"
                                tabindex="0">
                                ...</div>
                            <div class="tab-pane fade" id="pills-Business" role="tabpanel"
                                aria-labelledby="pills-Business-tab" tabindex="0">...</div>
                            <div class="tab-pane fade" id="pills-Artificial" role="tabpanel"
                                aria-labelledby="pills-Artificial-tab" tabindex="0">...</div>
                            <div class="tab-pane fade" id="pills-Data" role="tabpanel" aria-labelledby="pills-Data-tab"
                                tabindex="0">...</div>
                        </div>

                    </div>
                </div>
                <div class="d-flex justify-content-center pt-5">
                    <button class="btn view-more-btn">
                        View more courses
                    </button>
                </div>
            </div>

        </div>
    </div>
    <div class="container-fluid bg-gray pt-5">
        <div class="container services">
            <h2 class="section-title mb-4 text-center">Our Services</h2>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="card">
                            <img alt="home images"
                                src="../../../assets/images/landingpage/Our Services/Classroom Training.png"
                                alt="home images" class="card-img-top">
                            <div class="card-body">
                                <h3 class="text-center mb-0">Classroom Training</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">
                            <img alt="home images"
                                src="../../../assets/images/landingpage/Our Services/Online Training.png"
                                alt="home images" class="card-img-top">
                            <div class="card-body">
                                <h3 class="text-center mb-0">Online Training</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">
                            <img alt="home images"
                                src="../../../assets/images/landingpage/Our Services/On-Campus Training.png"
                                alt="home images" class="card-img-top">
                            <div class="card-body">
                                <h3 class="text-center mb-0">On-Campus Training</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">
                            <img alt="home images"
                                src="../../../assets/images/landingpage/Our Services/Corporate Training.png"
                                alt="home images" class="card-img-top">
                            <div class="card-body">
                                <h3 class="text-center mb-0">Corporate Training</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container pt-5 our-student">
        <h2 class="section-title mb-4 text-center">Our Student Testimonials</h2>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 mb-5">
                    <div class="card">
                        <div class="card-body position-relative py-5 pt-4">
                            <div class="d-flex align-items-center gap-3">
                                <img src="../../../assets/images/landingpage/Our Student Testimonials/Mithun.png"
                                    alt="home images">
                                <div>
                                    <p class="f-13 m-0 text-center">
                                        I have attended BI reporting training at Parthu it, in The month of August, and
                                        it
                                        was
                                        very effective and a true value for money delivery.I’m already working on Data
                                        warehousing and the BI reporting training has helped me land in a better
                                        opportunity. <br>
                                    </p>
                                    <p class="m-0 text-center f-17">Thank you Parthu it.</p>
                                </div>
                            </div>
                            <div class="bottom-card">
                                <p class="f-15 mb-1">Sravani</p>
                                <p class="f-15 m-0">Student</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mb-5">
                    <div class="card">
                        <div class="card-body position-relative py-5 pt-4">
                            <div class="d-flex align-items-center gap-3">
                                <img src="../../../assets/images/landingpage/Our Student Testimonials/Reshma Pandey.png"
                                    alt="home images">
                                <div>
                                    <p class="f-13 m-0 text-center">
                                        I have attended BI reporting training at Parthu it, in The month of August, and
                                        it
                                        was
                                        very effective and a true value for money delivery.I’m already working on Data
                                        warehousing and the BI reporting training has helped me land in a better
                                        opportunity. <br>
                                    </p>
                                    <p class="m-0 text-center f-17">Thank you Parthu it.</p>
                                </div>
                            </div>
                            <div class="bottom-card">
                                <p class="f-15 mb-1">Mithun</p>
                                <p class="f-15 m-0">Tracking Analyst</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-5">
                    <div class="card">
                        <div class="card-body position-relative py-5 pt-4">
                            <div class="d-flex align-items-center gap-3">
                                <img src="../../../assets/images/landingpage/Our Student Testimonials/Satya Kumar.png"
                                    alt="home images">
                                <div>
                                    <p class="f-13 m-0 text-center">
                                        I have attended BI reporting training at Parthu it, in The month of August, and
                                        it
                                        was
                                        very effective and a true value for money delivery.I’m already working on Data
                                        warehousing and the BI reporting training has helped me land in a better
                                        opportunity. <br>
                                    </p>
                                    <p class="m-0 text-center f-17">Thank you Parthu it.</p>
                                </div>
                            </div>
                            <div class="bottom-card">
                                <p class="f-15 mb-1">Satya Kumar</p>
                                <p class="f-15 m-0">Digital Marketing</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-5">
                    <div class="card">
                        <div class="card-body position-relative py-5 pt-4">
                            <div class="d-flex align-items-center gap-3">
                                <img src="../../../assets/images/landingpage/Our Student Testimonials/Sravani.png"
                                    alt="home images">
                                <div>
                                    <p class="f-13 m-0 text-center">
                                        I have attended BI reporting training at Parthu it, in The month of August, and
                                        it
                                        was
                                        very effective and a true value for money delivery.I’m already working on Data
                                        warehousing and the BI reporting training has helped me land in a better
                                        opportunity. <br>
                                    </p>
                                    <p class="m-0 text-center f-17">Thank you Parthu it.</p>
                                </div>
                            </div>
                            <div class="bottom-card">
                                <p class="f-15 mb-1">Reshma Pandey</p>
                                <p class="f-15 m-0">Employee</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-5 logos-div">
        <h2 class="section-title mb-4 text-center">Supporting Enterprises Around the Globe</h2>
        <div class="logos">
            <img src="../../../assets/images/landingpage/Supporting Enterprises Around the Globe.png" class="img-fluid"
                alt="">
            <!-- <img src="../../../assets/images/sampleimages/Pink Yellow Star Y2k Style Streetwear Logo.png" alt=""><img
                src="../../../assets/images/sampleimages/Pink Yellow Star Y2k Style Streetwear Logo.png" alt=""><img
                src="../../../assets/images/sampleimages/Pink Yellow Star Y2k Style Streetwear Logo.png" alt=""><img
                src="../../../assets/images/sampleimages/Pink Yellow Star Y2k Style Streetwear Logo.png" alt=""><img
                src="../../../assets/images/sampleimages/Pink Yellow Star Y2k Style Streetwear Logo.png" alt=""><img
                src="../../../assets/images/sampleimages/Pink Yellow Star Y2k Style Streetwear Logo.png" alt=""><img
                src="../../../assets/images/sampleimages/Pink Yellow Star Y2k Style Streetwear Logo.png" alt=""><img
                src="../../../assets/images/sampleimages/Pink Yellow Star Y2k Style Streetwear Logo.png" alt=""><img
                src="../../../assets/images/sampleimages/Pink Yellow Star Y2k Style Streetwear Logo.png" alt=""><img
                src="../../../assets/images/sampleimages/Pink Yellow Star Y2k Style Streetwear Logo.png" alt=""><img
                src="../../../assets/images/sampleimages/Pink Yellow Star Y2k Style Streetwear Logo.png" alt=""><img
                src="../../../assets/images/sampleimages/Pink Yellow Star Y2k Style Streetwear Logo.png" alt=""><img
                src="../../../assets/images/sampleimages/Pink Yellow Star Y2k Style Streetwear Logo.png" alt=""><img
                src="../../../assets/images/sampleimages/Pink Yellow Star Y2k Style Streetwear Logo.png" alt=""> -->
        </div>
    </div>
</div>