.hero-sec {
  // background: url("../../../assets/images/landingpage/Hero image - parthu it.png")
  //   right no-repeat;
  // background-size: cover;
  position: relative;
  height: 500px;
  color: white;
  background-color: var(--blue);
  display: flex;
  align-items: center;
  padding: 0px 100px;
  justify-content: space-between;
  .hero-left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .hero-img {
    img {
      max-height: 401px;
    }
  }
}

.courses {
  padding: 0px 60px;
  .course-head {
    // background: white;
    // position: sticky;
    // top: 88px;
    // z-index: 100;
    span.section-title {
      font-size: 63px;
    }
  }
  .left {
    background-color: #ffffff;
    border-radius: 5px;
    position: sticky;
    top: 88px;
  }

  .tab-content {
    .card-body {
      position: relative;
    }
  }
  .course-tabs {
    ul {
      li {
        padding: 0px 20px;
      }
      li button {
        color: #707070;
        // background-color: #f2f6fb;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 0;
      }
      button.nav-link.active::before {
        position: absolute;
        content: "";
        left: 0%;
        top: 0px;
        height: 100%;
        width: 6px;
        background-color: var(--green);
      }
      li button {
        i {
          display: none;
        }
      }
      li button.active {
        background-color: var(--blue);
        color: white;
        font-weight: 600;
        i {
          display: block;
        }
      }
    }
  }
  .cards {
    .card {
      height: 100%;

      .card-title {
        font-size: 25px;
        font-weight: 600;
      }
      .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        .price-pill {
          background: #00ab66 0% 0% no-repeat padding-box;
          border-radius: 3px;
          text-align: left;
          font-weight: bold;
          color: white;
          font-size: 11px;
          padding: 4px 11px;
          position: absolute;
          right: 18px;
          top: -5%;
        }
      }
      .card-text {
        // text-wrap: balance;
        font-size: 10px;
        font-weight: 500;
        // color: #666;
      }
      .detail {
        font-size: 10px;
        font-weight: 700;
        i {
          font-size: 16px;
        }
        span {
          font-weight: 500;
        }
      }
      .enroll-btn {
        background-color: var(--blue);
        color: white;
        font-size: 14px;
        font-weight: 600;
        border-radius: 0px;
        width: 100%;
        height: 45px;
      }
    }
  }
}

.view-more-btn {
  color: #3a10e5;
  font-size: 14px;
  border: 1px solid #3a10e5;
  border-radius: 3px;
  background-color: white;
}

.services {
  .card {
    box-shadow: 0px 3px 10px #00000029;
    h3 {
      font-size: 20px !important;
    }
  }
}

.our-student {
  // .card {
  //   img {
  //     width: 100px;
  //     height: 100px;
  //     object-fit: cover;
  //     display: block;
  //     border-radius: 100%;
  //   }
  //   .bottom-card {
  //     position: absolute;
  //     padding: 10px 30px;
  //     left: 50%;
  //     transform: translate(-50%, -10%);
  //     bottom: -22%;
  //     background: white;
  //     min-width: 160px;
  //     text-align: center;
  //     height: 70px;
  //   }

  //   .bottom-card::before {
  //     position: fixed;
  //     content: "";
  //     width: 5px;
  //     height: 5px;
  //     background-color: blue;
  //     left: 0;
  //     top: 51%;
  //     transform: translate(0%, -50%);
  //     border-radius: 50%;
  //   }
  //   .bottom-card::after {
  //     position: fixed;
  //     content: "";
  //     width: 5px;
  //     height: 5px;
  //     background-color: blue;
  //     right: 0;
  //     top: 51%;
  //     transform: translate(0%, -50%);
  //     border-radius: 50%;
  //   }
  // }
  .card {
    background-color: #f2fbf7;
    .card-body {
      text-align: center;
    }
    .profile {
      width: 100px;
      height: 100px;
      object-fit: cover;
      // display: block;
      border-radius: 100%;
      margin-bottom: 10px;
    }
    .student {
      margin-bottom: 10px;
      .std-name {
        font-size: 20px;
        font-weight: bold;
      }
      .std-role {
        font-size: 20px;
      }
      .std-comp {
        object-fit: none;
      }
    }
  }
}

.logos-div {
  .logos {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 4%;
    align-items: center;
    img {
      width: 100%;
      // max-height: 100px;
      object-fit: cover;
      border-radius: 10px;
    }
    img:last-child {
      scale: 0.7;
    }
  }
}

.learn-free {
  background-color: var(--blue);
  .peoples {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .people-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    .start-btn {
      background-color: yellow;
    }
  }
}

@media (min-width: 1400px) and (min-width: 1024px) {
  .bottom-card::before,
  .bottom-card::after {
    top: 54% !important;
  }
}

i.ri-rocket-fill {
  rotate: 40deg;
  color: blue;
}

.accor {
  background-color: #78de80;
  .accordion-div {
    .accordion {
      .accordion-button {
        box-shadow: none;
        background-color: transparent;
        div {
          img {
            width: 38px;
            object-fit: cover;
          }
          display: flex;
          gap: 20px;
          align-items: center;
          font-weight: bold;
          font-size: 20px;
        }
      }
      .accordion-button:is(.collapsed)::after {
        background-color: white;
        mix-blend-mode: normal;
        border-radius: 50vw;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M11 11V7H13V11H17V13H13V17H11V13H7V11H11ZM12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20Z'%3E%3C/path%3E%3C/svg%3E");
      }
      .accordion-button::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M5 11V13H19V11H5Z'%3E%3C/path%3E%3C/svg%3E");
      }
    }
    .accordion + span {
      font-size: 16px;
    }
    .accordion-item {
      background: transparent;
      border: 1px solid;
    }
  }
}
