.hero-sec {
  padding-bottom: 70px;
  .floating-div {
    padding: 70px 0px;
  }
  // background-image: url("../../../assets/images/landingpage/Course/Digital\ marketing.png");
  background-position-x: right;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
  background-color: blue;
  // mix-blend-mode: difference;
  .hero-title,
  .hero-text {
    color: white;
  }
}

.course-content {
  .row {
    .accordion-button {
      background-color: #f8f9fa;
      font-weight: bold;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      border: 1px solid #dee2e6;
    }
    .more-div {
      cursor: pointer;
      border: 1px solid #dee2e6;
      border-radius: 8px;
    }

    .accordion-button:focus {
      box-shadow: none;
    }

    .accordion-button::after {
      display: none;
    }

    .accordion-header .ms-auto {
      font-weight: normal;
      //   color: #6c757d;
    }

    .accordion-body {
      background-color: #f8f9fa;
      padding: 20px;
      border-top: 1px solid #dee2e6;
    }
    ul {
      padding-left: 20px;
    }
  }
}

.frequent {
  .accordion {
    .accordion-button {
      display: flex;
      align-items: center;
      gap: 10px;
      span {
        i:first-child {
          position: relative;
          z-index: 2;
          border-color: blueviolet;
        }
        i:last-child {
          position: absolute;
          left: 4px;
          top: 4px;
          z-index: 1;
          color: blueviolet;
        }
      }
    }
  }
}
