.card {
  position: absolute;
  /* left: 50%; */
  bottom: -11%;
  max-height: 148px;

  // transform: translate(-50%);
  .price-sec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 25px 16px;
  }

  .divider {
    width: 2px;
    background: #2a305e;
    height: 60px;
  }

  .sec {
    .label {
      font-size: 22px;
      font-weight: 600;
    }
  }
}

@media (min-width: 1440px) {
  // .price-sec {
  //   gap: 40px;
  // }

  .sec {
    .label-name {
      font-size: 18px;
    }
  }
}