<div class="card container radious-0">
  <div class="card-body price-sec">
    <div class="divider"></div>

    <div class="sec">
      <p class="label mb-2">Next Batch</p>
      <h6 class="mb-0 label-name">05 Sep, 2024 | 8:30am (IST)</h6>
    </div>
    <div class="divider"></div>
    <div class="sec">
      <p class="label mb-2">Duration</p>
      <h6 class="mb-0 label-name">04 month's</h6>
    </div>
    <div class="divider"></div>
    <div class="sec">
      <p class="label mb-2">Course Fee</p>
      <h6 class="mb-0 label-name">INR 30,000 + taxes</h6>
    </div>
    <div class="divider"></div>
    <div class="sec">
      <p class="label mb-2">Format</p>
      <h6 class="mb-0 label-name">Classroom</h6>
    </div>
    <div class="divider"></div>
    <div class="sec">
      <p class="label mb-2">Eligibility</p>
      <h6 class="mb-0 label-name">Graduate or Diploma Holder</h6>
    </div>
  </div>
</div>