.card {
  position: absolute;
  bottom: -11%;
  max-height: 148px;
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;

  @media (max-width: 991px) {
    position: relative;
    bottom: 0;
    max-height: none;
    margin-top: 20px;
  }

  .price-sec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 25px 16px;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 15px;
    }
  }

  .divider {
    width: 2px;
    background: #2a305e;
    height: 60px;

    @media (max-width: 768px) {
      width: 100%;
      height: 1px;
    }
  }

  .sec {
    .label {
      font-size: 22px;
      font-weight: 600;

      @media (max-width: 768px) {
        font-size: 18px;
      }
    }

    .label-name {
      @media (max-width: 768px) {
        font-size: 14px;
      }
    }
  }
}

@media (min-width: 1440px) {
  // .price-sec {
  //   gap: 40px;
  // }

  .sec {
    .label-name {
      font-size: 18px;
    }
  }
}