@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --lightgreen: #10c45c;
  --green: #27b67c;
  --blue: #3a10e5;
  // --twentyTwo: 22px;
  // --twenty: 20px;
  // --eieghteen: 18px;
  // --sixteen: 16px;
  // --sixty: 60px;
  // --fiftyFive: 55px;
  // --thirtyFive: 35px;
  // --thirty: 30px;
  // --twentyFive: 25px;
  // --twentyFour: 24px;
  // --eleven: 11px;
  // --twelve: 12px;
  // --fourteen: 14px;
  // --fifteen: 15px;
  // --seventeen: 17px;
  --yellow-bg: #ffcc09;
  // --light: #f9f9f9;
  // --fourtyFive: 45px;
  // --siventeen: 17px;
  // --eighteen: 18px;
  // --ten: 10px;
  // --thirteen: 13px;
  // --seventyFive: 75px;
  // --fifty: 50px;
  // --nine: 9px;
  // --seven: 7px;
  // --eight: 8px;
}

.bg-warning {
  background-color: #ffe605 !important;
}

.f-13 {
  font-size: 13px !important;
}

.f-14 {
  font-size: 14px !important;
}

.f-15 {
  font-size: 15px !important;
}

.f-17 {
  font-size: 17px !important;
}

body {
  font-family: "Poppins" !important;
  scroll-behavior: smooth;
  scroll-snap-align: center;
  transition: all 0.3s ease-in-out !important;
  margin: 0px;
  margin-top: 70px;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

::placeholder {
  font-size: var(--twelve);
  opacity: 0.65;
}

.form-control {
  font-size: 14px !important;
  font-weight: 500;
  min-height: 42px;
}

.form-select {
  font-size: 14px !important;
}

.hero-sec {
  position: relative;
  height: 500px;

  .hero-title {
    font-size: clamp(40px, 5vw, 65px);
    line-height: clamp(60px, 5vw, 80px);
    font-weight: 700;
  }

  .hero-text {
    font-size: clamp(30px, 5vw, 35px);
    line-height: clamp(40px, 5vw, 80px);
  }
}

h3 {
  font-size: 32px;
}

small {
  font-size: 11px;
}

.fs-12 {
  font-size: 12px;
}

.bg-gray {
  background-color: #f8f8f8;
}

.section-title {
  font-size: clamp(35px, 5vw, 45px);
  font-weight: 700 !important;
}

.section-title-1 {
  font-size: clamp(20px, 5vw, 30px);
  font-weight: 700 !important;
}

.section-sub-title {
  font-size: 24px;
  font-weight: 600;
}

.section-text {
  font-size: 22px;
}

.radious-0 {
  border-radius: 0px;
}

.btn-primary {
  padding: 8px 20px;
  font-size: 20px;
  background-color: #3a10e5;
  color: white;
  border: none;
}

@media (max-width: 768px) {
  .hero-sec {
    .hero-content {
      margin-left: 20px;
    }
  }
}

.frequent {
  .accordion {
    .accordion-button {
      display: flex;
      align-items: center;
      gap: 10px;

      span {
        i:first-child {
          position: relative;
          z-index: 2;
          border-color: blueviolet;
        }

        i:last-child {
          position: absolute;
          left: 4px;
          top: 4px;
          z-index: 1;
          color: blueviolet;
        }
      }
    }
  }
}