<footer>
    <div class="container-fluid py-5 footer">
        <div class="container">

            <div class="foot-list py-3 pb-5">
                <div class="items d-flex flex-column gap-3">
                    <img src="../../../assets/images/landingpage/logo.svg" alt="">
                    <span class="text-white">An Ed-Tech Platform That Bridges Students & Corporates, Empowering Lifelong
                        Success Through
                        Skill-Based Learning.</span>
                    <div class="d-flex align-items-center gap-3">
                        <img src="../../../assets/images/footerimages/ISTE_Seal_0524-160x198.png" alt="">
                        <img src="../../../assets/images/footerimages/NoPath.png" alt="">
                        <img src="../../../assets/images/footerimages/Level-III-_Promising-Evidence_-Badge-2023-160x160.png"
                            alt="">
                    </div>

                </div>

                <div class="items">
                    <p class="foot-item-title mb-3">
                        QUICK LINK
                    </p>
                    <ul class="nav">
                        <li class="nav-item">
                            About Us
                        </li>
                        <li class="nav-item">
                            Become a Mentor
                        </li>
                        <li class="nav-item">
                            Resources
                        </li>
                        <li class="nav-item">
                            Hire From Us
                        </li>
                        <li class="nav-item">
                            Career Guide
                        </li>
                        <li class="nav-item">
                            Blog
                        </li>
                    </ul>
                </div>
                <div class="items">
                    <p class="foot-item-title mb-3">
                        TOP CATEGORIES
                    </p>
                    <ul class="nav">
                        <li class="nav-item">
                            Devops Engineer
                        </li>
                        <li class="nav-item">
                            GCP Cloud Data Engineer
                        </li>
                        <li class="nav-item">
                            AWS Solution Architect
                        </li>
                        <li class="nav-item">
                            Scrum Master
                        </li>
                        <li class="nav-item">
                            Manual Testing
                        </li>
                    </ul>
                </div>
                <div class="items">
                    <p class="foot-item-title mb-3">
                        TRENDING COURSES
                    </p>
                    <ul class="nav">
                        <li class="nav-item">
                            Automation Testing
                        </li>
                        <li class="nav-item">
                            ETL Testing
                        </li>
                        <li class="nav-item">
                            Test Automation ~ Tosca
                        </li>
                        <li class="nav-item">
                            RPA ~ Uipath
                        </li>
                        <li class="nav-item">
                            Azure Cloud Data Engineer
                        </li>
                        <li class="nav-item">
                            MERN Stack
                        </li>
                    </ul>
                </div>
                <!-- <div class="items">
                    <p class="foot-item-title mb-3">
                        WORK WITH US
                    </p>
                    <ul class="nav mb-4">
                        <li class="nav-item">
                            About Us
                        </li>
                        <li class="nav-item">
                            Our Blog
                        </li>
                    </ul>
                </div> -->
                <div class="items text-center">
                    <p class="foot-item-title mb-3">
                        CONTACT US
                    </p>
                    <ul class="nav mb-3">
                        <li class="nav-item">
                            care@Parthuit.com
                        </li>
                        <li class="nav-item">
                            +91-9900551100
                        </li>

                    </ul>
                    <div class="foot-logos mb-4">
                        <img src="../../../assets/images/landingpage/Footer/facebook.svg" alt="">
                        <img src="../../../assets/images/landingpage/Footer/twitter.svg" alt="">
                        <img src="../../../assets/images/landingpage/Footer/instagram.svg" alt="">
                        <img src="../../../assets/images/landingpage/Footer/youtube.svg" alt="">
                        <img src="../../../assets/images/landingpage/Footer/linkedin.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="hr mb-4"></div>
        <div class="bottom-foot">
            <p class="f-13 text-center m-0">Copyright © 2024 Parthu Infotech. All Rights Reserved.</p>
            <p class="f-13 text-center m-0">Sitemap | Terms & Conditions | Refund Policy | Cancellation Policy | Privacy
                Policy</p>
        </div>
    </div>
</footer>