<footer>
    <div class="container-fluid py-5 footer">
        <div class="container">
            <div class="foot-logos mb-4">
                <i class="ri-facebook-circle-fill"></i>
                <i class="ri-twitter-fill"></i>
                <i class="ri-instagram-fill"></i>
                <i class="ri-youtube-fill"></i>
                <i class="ri-linkedin-box-fill"></i>
            </div>
            <div class="foot-list py-3 pb-5">
                <div class="items">
                    <p class="foot-item-title mb-3">
                        PARTHU IT
                    </p>
                    <ul class="nav">
                        <li class="nav-item">
                            About Us
                        </li>
                        <li class="nav-item">
                            Our Blog
                        </li>
                        <li class="nav-item">
                            <img width="70"
                                src="../.././../assets/images/sampleimages/pexels-tima-miroshnichenko-9572570.jpg"
                                alt="foot img">
                        </li>
                    </ul>
                </div>
                <div class="items">
                    <p class="foot-item-title mb-3">
                        TOP CATEGORIES
                    </p>
                    <ul class="nav">
                        <li class="nav-item">
                            Devops Engineer
                        </li>
                        <li class="nav-item">
                            GCP Cloud Data Engineer
                        </li>
                        <li class="nav-item">
                            AWS Solution Architect
                        </li>
                        <li class="nav-item">
                            Scrum Master
                        </li>
                        <li class="nav-item">
                            Manual Testing
                        </li>
                    </ul>
                </div>
                <div class="items">
                    <p class="foot-item-title mb-3">
                        TRENDING COURSES
                    </p>
                    <ul class="nav">
                        <li class="nav-item">
                            Automation Testing
                        </li>
                        <li class="nav-item">
                            ETL Testing
                        </li>
                        <li class="nav-item">
                            Test Automation ~ Tosca
                        </li>
                        <li class="nav-item">
                            RPA ~ Uipath
                        </li>
                        <li class="nav-item">
                            Azure Cloud Data Engineer
                        </li>
                        <li class="nav-item">
                            MERN Stack
                        </li>
                    </ul>
                </div>
                <div class="items">
                    <p class="foot-item-title mb-3">
                        WORK WITH US
                    </p>
                    <ul class="nav mb-4">
                        <li class="nav-item">
                            About Us
                        </li>
                        <li class="nav-item">
                            Our Blog
                        </li>
                    </ul>
                    <div class="items">
                        <p class="foot-item-title mb-3">
                            WORK WITH US
                        </p>
                        <ul class="nav">
                            <li class="nav-item">
                                care@Parthuit.com
                            </li>
                            <li class="nav-item">
                                +91-9900551100
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="hr mb-4"></div>
        <div class="bottom-foot">
            <p class="f-13 text-center m-0">@ 2024 Parthu It. - All Rights Reserved.</p>
            <p class="f-13 text-center m-0">Sitemap | Terms Of Conditions | FAQ | Privacy Policy</p>
        </div>
    </div>
</footer>