<footer>
    <div class="container-fluid py-5 footer">
        <div class="container">

            <div class="foot-list py-3 pb-5">
                <div class="items logo-item d-flex flex-column gap-3" style="margin-top: -0px; width: 250px;">
                    <a href="#">
                        <img class="text-white " style="width: 250px;"
                            src="../../../assets/images/landingpage/footer logo.svg" alt="" />
                    </a>
                    <span class="text-white " style="font-size: 14px; margin-top:-2%;">An Ed-Tech Platform That Bridges
                        <br> Students & Corporates, Empowering
                        Lifelong Success Through Skill-Based Learning.</span>
                    <div class="d-flex align-items-center gap-3">
                        <img src="../../../assets/images/footerimages/ISTE_Seal_0524-160x198.png" alt="" />
                        <img src="../../../assets/images/footerimages/NoPath.png" alt="" />
                        <img src="../../../assets/images/footerimages/Level-III-_Promising-Evidence_-Badge-2023-160x160.png"
                            alt="" />
                    </div>
                </div>

                <div class="items" style="color: #666666;">
                    <p class="foot-item-title mb-3">Quick Link</p>
                    <ul class="nav">
                        <li class="nav-item">
                            <a routerLink="/aboutus" class="nav-link p-0"> About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-0"> Join Us</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/" fragment="key-services" class="nav-link p-0"> Key Services</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="hire-from-us" class="nav-link p-0"> Hire From Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-0"> Refund Policy</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="contact-us" class="nav-link p-0"> Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="placements" class="nav-link p-0"> Placement Support</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-0"> Resources</a>
                        </li>
                    </ul>
                </div>
                <div class="items">
                    <p class="foot-item-title mb-3">Popular Courses</p>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link p-0 text-white"> Devops Engineer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-0 text-white"> GCP Cloud Data Engineer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-0 text-white"> AWS Solution Architect</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-0 text-white"> Scrum Master</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-0 text-white"> Manual Testing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-0 text-white"> Full Stack Development</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-0 text-white"> Azure Courses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-0 text-white"> Cloud Computing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-0 text-white"> AI & ML</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-0 text-white"> Power BI</a>
                        </li>
                    </ul>
                </div>
                <div class="items">
                    <p class="foot-item-title mb-3">Certification</p>
                    <ul class="nav mb-4">
                        <li class="nav-item">
                            <a class="nav-link p-0 text-white"> AWS Solutions Architect</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-0 text-white"> Microsoft Azure Solutions Architect</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-0 text-white"> GCP (Google Cloud Architect)</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-0 text-white"> Microsoft Security</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-0 text-white"> OCI (Oracle Cloud Infrastructure)</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-0 text-white"> Comptia Security+</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-0 text-white"> CSM (Certified Scrummaster)</a>
                        </li>
                    </ul>
                    <div class="d-none d-lg-block pt-1">
                        <p class="foot-item-title mb-3" style="font-size: 14px;">Cloud Partners</p>
                        <div class="d-flex gap-3 align-items-center">
                            <span class="d-flex align-items-center"
                                style="color: #a8a8a8; font-size: 14px; font-weight: 500;"><svg width="20" height="20"
                                    viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-label="Microsoft logo"
                                    class="me-1">
                                    <!-- Red -->
                                    <rect x="1" y="1" width="10px" height="10" fill="#F25022" />
                                    <!-- Green -->
                                    <rect x="13" y="1" width="10" height="10" fill="#7FBA00" />
                                    <!-- Blue -->
                                    <rect x="1" y="13" width="10" height="10" fill="#00A4EF" />
                                    <!-- Yellow -->
                                    <rect x="13" y="13" width="10" height="10" fill="#FFB900" />
                                </svg> Microsoft</span>
                            <span class="text-warning d-flex align-items-center"><i
                                    class="fa-brands fa-aws fs-5"></i></span>
                            <span class="d-flex align-items-center"
                                style="color: #a8a8a8; font-size: 14px; font-weight: 500;"><img width="35" height="35"
                                    src="../../../assets/images/landingpage/Footer/google_cloud.png" alt="Google Cloud"
                                    class="me-1">
                                GoogleCloud</span>
                        </div>
                    </div>
                </div>

                <div class="items">
                    <div class="row">
                        <div class="col-6 col-md-12">
                            <p class="foot-item-title mb-3">Support</p>
                            <ul class="nav mb-4">
                                <li class="nav-item">
                                    <a href="tel:91-9966350011" class="nav-link p-0 text-white"><i
                                            class="ri-phone-fill me-2"></i> 91-9966350011</a>
                                </li>
                                <li class="nav-item">
                                    <a href="mailto:codelabsit@gmail.com" class="nav-link p-0 text-white"><i
                                            class="ri-mail-fill me-2"></i> codelabsit@gmail.com</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-6 col-md-12">
                            <p class="foot-item-title mb-3">Follow us</p>
                            <div class="foot-logos">
                                <a href="#" target="_blank"><i class="fa-brands fa-linkedin fa-1"
                                        style="color: #ffffff;"></i></a>
                                <a href="#" target="_blank"><i class="fa-brands fa-instagram fa-1"
                                        style="color: #ffffff;"></i></a>
                                <a href="#" target="_blank"><i class="fa-brands fa-x-twitter fa-1"
                                        style="color: #ffffff;"></i></a>
                                <a href="#" target="_blank"><i class="fa-brands fa-facebook fa-1"
                                        style="color: #ffffff;"></i></a>
                                <a href="#" target="_blank"><i class="fa-brands fa-youtube fa-1"
                                        style="color: #ffffff;"></i></a>
                                <a href="#" target="_blank"><i class="fa-brands fa-github fa-1"
                                        style="color: #ffffff;"></i></a>
                            </div>
                        </div>

                        <div class="col-12 mt-5 pt-3 d-lg-none">
                            <p class="foot-item-title mb-3" style="font-size: 14px;">Cloud Partners</p>
                            <div class="d-flex gap-3 align-items-center">
                                <span class="d-flex align-items-center"
                                    style="color: #a8a8a8; font-size: 14px; font-weight: 500;"><svg width="20"
                                        height="20" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                        aria-label="Microsoft logo" class="me-1">
                                        <!-- Red -->
                                        <rect x="1" y="1" width="10px" height="10" fill="#F25022" />
                                        <!-- Green -->
                                        <rect x="13" y="1" width="10" height="10" fill="#7FBA00" />
                                        <!-- Blue -->
                                        <rect x="1" y="13" width="10" height="10" fill="#00A4EF" />
                                        <!-- Yellow -->
                                        <rect x="13" y="13" width="10" height="10" fill="#FFB900" />
                                    </svg> Microsoft</span>
                                <span class="text-warning d-flex align-items-center"><i
                                        class="fa-brands fa-aws fs-5"></i></span>
                                <span class="d-flex align-items-center"
                                    style="color: #a8a8a8; font-size: 14px; font-weight: 500;"><img width="35"
                                        height="35" src="../../../assets/images/landingpage/Footer/google_cloud.png"
                                        alt="Google Cloud" class="me-1">
                                    GoogleCloud</span>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
             <div class="hr mb-4"></div>
            <div class="internships mb-4">
                <p class="foot-item-title mb-3">Internships</p>
                <div class="tag-cloud">
                    <span class="tag">Internship Program On DevOps With Cloud</span>
                    <span class="tag">Internship Program On Python</span>
                    <span class="tag">Internship Program On Data Science</span>
                </div>
            </div>

            <div class="internships mb-5">
                <p class="foot-item-title mb-1">Popular Searches</p>
                <!-- <p class="foot-sub-title mb-3">Popular searches</p> -->
                <div class="tag-cloud">
                    <span class="tag">Data Structures And Algorithms With Python</span>
                    <span class="tag">Advanced Generative & Agentic AI</span>
                    <span class="tag">Core Java</span>
                    <span class="tag">Generative AI & Agentic AI With Python</span>
                    <span class="tag">Cyber Security & Ethical Hacking</span>
                    <span class="tag">Playwright Automation</span>
                    <span class="tag">Backend Development</span>
                    <span class="tag">DevOps & Site Reliability Engineering (SRE)</span>
                    <span class="tag">Snowflake</span>
                    <span class="tag">NumPy | Pandas | Matplotlib</span>
                    <span class="tag">DevOps With Multi Cloud</span>
                    <span class="tag">Linux Administration</span>
                    <span class="tag">Tableau</span>
                    <span class="tag">Google Cloud Online Training</span>
                    <span class="tag">DevOps</span>
                    <span class="tag">Multi Cloud</span>
                    <span class="tag">DevOps With AWS</span>
                    <span class="tag">Java Real-Time Projects</span>
                    <span class="tag">Python Programming</span>
                    <span class="tag">MS Azure Data Factory</span>
                    <span class="tag">Azure Fundamentals (AZ-900)</span>
                    <span class="tag">Azure Developer Associate (AZ-204)</span>
                    <span class="tag">Azure DevOps (AZ-400)</span>
                    <span class="tag">Azure Administrator (AZ-104)</span>
                    <span class="tag">Hadoop Online Training</span>
                    <span class="tag">Spring Boot And Microservices</span>
                    <span class="tag">Django With REST API</span>
                    <span class="tag">Power Apps</span>
                    <span class="tag">Power BI</span>
                    <span class="tag">Blue Prism</span>
                    <span class="tag">Automation Anywhere</span>
                    <span class="tag">Advanced Spoken English</span>
                    <span class="tag">Spoken English</span>
                    <span class="tag">MongoDB</span>
                    <span class="tag">MySQL</span>
                    <span class="tag">SQL Server</span>
                    <span class="tag">Tosca</span>
                    <span class="tag">Selenium</span>
                    <span class="tag">Digital Marketing</span>
                    <span class="tag">Node JS</span>
                    <span class="tag">PHP With MySQL</span>
                    <span class="tag">React JS</span>
                    <span class="tag">Angular</span>
                    <span class="tag">Bootstrap</span>
                    <span class="tag">HTML CSS JavaScript</span>
                    <span class="tag">UI Full Stack Web With React</span>
                    <span class="tag">Data Structures & Algorithms Using Java</span>
                    <span class="tag">Data Structures & Algorithms Using C</span>
                    <span class="tag">ASP.NET MVC 5 + MVC Core 9.0</span>
                    <span class="tag">C#.NET</span>
                    <span class="tag">Spring</span>
                    <span class="tag">Advanced Java</span>
                    <span class="tag">C Language</span>
                    <span class="tag">Android</span>
                    <span class="tag">iPhone Operating System (iOS)</span>
                    <span class="tag">Docker & Kubernetes</span>
                    <span class="tag">Data Analytics & Business Analytics</span>
                    <span class="tag">ChatGPT</span>
                    <span class="tag">MLOps & AIOps</span>
                    <span class="tag">Salesforce LWC</span>
                    <span class="tag">Salesforce CRM</span>
                    <span class="tag">Azure Data Engineer</span>
                    <span class="tag">MS Azure + Azure DevOps</span>
                    <span class="tag">Oracle</span>
                    <span class="tag">UiPath</span>
                    <span class="tag">R Programming Online Training</span>
                    <span class="tag">SEO Online Training</span>
                    <span class="tag">Data Science With AI</span>
                    <span class="tag">Campus Recruitment Training (CRT)</span>
                    <span class="tag">MuleSoft</span>
                    <span class="tag">Manual Testing</span>
                    <span class="tag">Unix / Linux</span>
                    <span class="tag">Amazon Web Services (AWS)</span>
                </div>
            </div>
        </div>
        <div class="hr mb-4"></div>
        <div class="bottom-foot d-flex justify-content-between align-items-center">
            <p class="m-0 text-start">
                Copyright © 2024 Codelabs. All Rights Reserved.
            </p>
            <!-- <p class="m-0 text-end">

                Designed by @ <a style="text-decoration: none;" target="_blank"
                    href="https://ygrgobalitservices.com/">YGR Gobal IT Services Pvt. Ltd, 2023</a>

            </p> -->
            <p class="m-0 text-end">
                Sitemap | Terms & Conditions | Refund Policy | Cancellation Policy |
                Privacy Policy
            </p>
        </div>
    </div>
</footer>